<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Birmi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Birmi d.o.o.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Primka", "Index", "Primka")</li>
                    <li>@Html.ActionLink("Izdatnica", "Index", "Izdatnica")</li>
                    <li>@Html.ActionLink("Proizvod", "Index", "Proizvod")</li>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.Partial("_MasterData")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @Html.Partial("_Notifications")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Birmi d.o.o.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true,
            setDate: new Date(),
            todayHighlight: true,
            todayBtn: true
        });

        $('.multiselect').multiselect();
    });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
