@model Web.ViewModels.IzdatnicaViewModel

@{
    ViewBag.Title = "Izvještaji";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<h2>Detalji izdatnice</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Izdatnica.Djelatnik.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdatnica.Djelatnik.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Izdatnica.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdatnica.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Izdatnica.Status.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdatnica.Status.Naziv)
        </dd>

    </dl>
</div>

<h4>Stavke Primke</h4>
<hr />
@Html.Partial(
        "_StavkeIzdatniceTable",
        Model.Izdatnica.StavkeIzdatnice,
        new ViewDataDictionary(this.ViewData) { { "edit", false } }
    )